* {
    padding:0;
    margin:0;
}
a, p, h1 {
    color:#000;
    text-decoration: none;
}
a:hover {
    color:#09F;
}
body {
    background:#FFF;
}
#container {
    font-family:Vrinda, Arial, Helveticam, sans-serif;
    text-align:center;
    color:#330000;
    width:960px;
    margin:0 auto;
}
#header {
    margin-bottom:10px;
    padding:10px inherit;
}
#content {
    margin:0 auto;
    position:relative;
}
#courts {
    width:600px;
    position:relative;
    margin:auto;
    padding-left:30px;
}
.court {
    float:left;
    border:solid 1px gray;
    width:280px;
    height:268px;
}
.light-off {
    background-position:0 0;
}
.light-on {
    background-position:-280px 0;
}
#court-northwest {
    background-image:url(../img/northwest-court.png);
    background-repeat:no-repeat;
}
#court-southwest {
    background-image:url(../img/southwest-court.png);
    background-repeat:no-repeat;
}
#court-northeast {
    background-image:url(../img/northeast-court.png);
    background-repeat:no-repeat;
}
#court-southeast {
    background-image:url(../img/southeast-court.png);
    background-repeat:no-repeat;
}
.loader {
    position:absolute;
    display:none;
}
.loader img{
    width:160%;
}
#loader-northwest {
    left:120px;
    top:60px;
}
#loader-northeast {
    left:400px;
    top:60px;
}
#loader-southwest {
    left:120px;
    top:340px;
}
#loader-southeast {
    left:400px;
    top:340px;
}
#label-tip {
    position:absolute;
    margin-left:0px;
    /*display:none;*/
}
#label-here {
    position:absolute;
    margin-top:360px;
    margin-left:760px;
}
#footer {
    margin-top:10px;
    padding:10px inherit;
    clear:both;
}

