* {
    padding:0;
    margin:0;
}
a, p, h1, h2, h3 {
    color:#000;
    text-decoration: none;
}
a:hover {
    color:#09F;
}
body {
    background:#FFF;
}
.clear {
    clear:both;
}
#wrapper {
    font-family:Vrinda, Arial, Helveticam, sans-serif;
    width:1280px;
    height:800px;
    margin:0 auto;
    background: url(../img/background.jpg) no-repeat;
}
#header {
    background: url(../img/header.png) no-repeat;
    height: 53px;
}
#content {
    margin:0 auto;
    position:relative;
}
#tips {
    width:348px;
    margin-left:58px;
    margin-top:60px;
    float:left;
}
#tips-header {
    text-align:center;
    font-size: 24px;
    color:#98e019;
    margin:0 auto;
}
#tips-content {
    background:#000;
    color:#a3a3a3;
    margin-top:36px;
    padding-top:30px;
    padding-bottom:48px;
    -webkit-border-radius:10px;
}
#tips-content h3 {
    color:#98e019;
    text-align:center;
    font-size:24px;
    font-weight:normal;
}
#tips-content ol {
    color:#e0e0e0;
    font-size:24px;
    line-height:36px;
    margin-top:24px;
    margin-left:40px;
    margin-right:10px;
}
#tips-content span {
    color:#a2ff00;
    font-style:italic;
}
#courts {
    width:800px;
    margin-top:30px;
    margin-right:40px;
    float:right;
}
.court {
    float:left;
    width:366px;
    height:320px;
    overflow:hidden;
    position:relative;
}
.court-content {
    width:inherit;
    height:inherit;
    position:relative;
}
.court-content p {
    position:absolute;
    left:30px;
    font-size:20px;
    font-weight:bold;
}
.top p {
    top:32px;
}
.bottom p {
    top:264px;
}
.switch {
    width:149px;
    height:85px;
    position:absolute;
    left:108px;
}
.top .switch {
    top:224px;
}
.bottom .switch {
    top:16px;
}
.court-img {
    width:308px;
    height:248px;
    position:absolute;
    left:30px;
}
.top .court-img {
    top:54px;
}  
.bottom .court-img {
    top:20px;
}
.light-off {
    background-image:url(../img/inactive.png);
    background-repeat:no-repeat; 
}
.light-off .court-content p {
    color:#464646;
}
.light-off .switch {
    background-image:url(../img/switchoff.png);
    background-repeat:no-repeat;
}
#court-northwest[class~="light-off"] .court-img,
#court-northeast[class~="light-off"] .court-img {
    background-image:url(../img/courtoff_top.png);
    background-repeat:no-repeat;
}
#court-southwest[class~="light-off"] .court-img,
#court-southeast[class~="light-off"] .court-img {
    background-image:url(../img/courtoff_bot.png);
    background-repeat:no-repeat;
}
.light-on {
    background-image:url(../img/active.png);
    background-repeat:no-repeat;
}
.light-on .court-content p {
    color:#a2ff00;
}
.light-on .switch {
    background-image:url(../img/switchon.png);
    background-repeat:no-repeat;
}
#court-northwest[class~="light-on"] .court-img,
#court-northeast[class~="light-on"] .court-img {
    background-image:url(../img/courton_top.png);
    background-repeat:no-repeat;
}
#court-southwest[class~="light-on"] .court-img,
#court-southeast[class~="light-on"] .court-img {
    background-image:url(../img//courton_bot.png);
    background-repeat:no-repeat;
}
.loader, 
.error {
    width:320px;
    height:274px;
    line-height:170px;
    background-color:#171717;
    position:absolute;
    left:22px;
    top:24px;
    text-align:center;
    display:none; 
}
.loader p {
    color:#858585;
    font-weight:bold;
    vertical-align:middle;
    position:absolute;
    left:110px;
    top:-16px;
}
.loader img {
    position:absolute;
    left:100px;
    top:94px;
}
.error p {
    color:#CCC;
    font-style:italic; 
    top:16px;
}
#here {
    background-image:url(../img/here.png);
    width:145px;
    height:51px;
    position:absolute;
    top:640px;
    left:1120px;
}
#footer {
    clear:both;
    background-image:url(../img/footer.png);
    width:760px;
    height:54px;
    position:absolute;
    bottom:10px;
    right:86px;
}

